/*------------------------------------*\
    $variable
\*------------------------------------*/
$spacer: 1rem;
$font-size-base: 1rem;

$color-font-base: #650300;
$color-font-caption: #000000;
$color-font-link: #ffffff;
$color-font-white: #ffffff;
$color-font-date: #707070;

$color-border-base: #000000;
$color-border-white: #ffffff;
$color-border-recommend: #DEE2E6;


$color-bgc-primary: #AA0601;
$color-bgc-secondary: #FBF2F2;
$color-bgc-feature: #FBF2F2;
$color-bgc-figcaption: #ffffff;
$color-bgc-contact: #FBF2F2;
$color-bgc-input: #FBF2F2;

$font-family-base: "Noto Sans TC", sans-serif;
$font-family-English: "Roboto", sans-serif;


$btn-font-family: $font-family-base;
$btn-font-weight: 400;
$btn-line-height: 1.5;
$body-color: transparent;
$link-decoration: underline !default;
$btn-white-space: null !default;
$enable-button-pointers: true !default;
$btn-border-width: 0px //!default;