/*------------------------------------*\
    $footer
\*------------------------------------*/
footer{
  padding-top: $spacer * 3;
  background-color: $color-bgc-primary;
  @include mobile{
    padding-top: $spacer * 1.5;
  }
}

.footer__top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    flex-direction: row-reverse;
    align-items: start;
  }
}

.footer{
  @include container-md;
  &__navList{
    display: flex;
    align-items: center;
    &__item + &__item{
    margin-left: $spacer * 3;
    }
    &__item{
    line-height: 1;
      &__link{
        font-size: $font-size-base * 1;
        line-height: 1;
      }
    }
    @include mobile{
      display: none;
    }
  }
  @include pad{
    @include container-sm;
  }
  @include mobile{
    @include container-xs;
    max-width: 100%;
    padding: 0 15px;
  }
}

.socialList{
  &__item{
    &__link img{
    width: 48px;
    height: 48px;
    }
  }
  &__item + &__item{
    margin-left: $spacer * 2;
  }
  @include pad{
    &__item{
      &__link img{
      width: 40px;
      height: 40px;
      }
    }
    &__item + &__item{
      margin-left: $spacer * 1;
    }
  }
  @include mobile{
    margin-left: auto;
    &__item{
      &__link img{
      width: 24px;
      height: 24px;
      }
    }
    &__item + &__item{
      margin-left: $spacer / 2;
    }
  }
}

.contactList{
  width: 1296px;
  margin-top: 24px;
  margin-bottom: 32px;
  &__item{
    & span{
      font-size: $font-size-base * 3;
      color: $color-font-link;
    }
    &__link{
      font-size: $font-size-base * 2.25;
      margin-left: $spacer * 1;
    }
  }
  &__item + &__item{
      margin-top: $spacer / 2;
    }
    @include mobile{
      width: 203px;
      margin-top: 0;
      margin-bottom: $spacer * 1.5;
      &__item{
        & span{
          font-size: $font-size-base * 1.5;
          // color: $color-font-link;
        }
        &__link{
          font-size: $font-size-base * 1;
          margin-left: $spacer / 2;
        }
      }
      &__item + &__item{
          margin-top: $spacer / 2;
        }
    }
}

.footer__bottom{
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  border-top: 1px solid $color-border-white;
  & > p{
    font-size: $font-size-base;
    line-height: 1.25;
    font-family: $font-family-English;
  } 
  @include pad{
    padding-bottom: $spacer * 2.5;
  }
  @include mobile{
    padding-top: $spacer * 1;
    padding-bottom: $spacer * 1.5;
    flex-direction: column;
  }
}

.footer{
  &__list{
    display: flex;
    align-items: center;
    &__item{
      line-height: 1;
      & > a{
        font-size: 14px;
        line-height: 20px;
      }
    }
    &__item + &__item{
      margin-left: $spacer * 3;
    }
    @include mobile{
      flex-direction: column;
      align-items: start;
      margin-top: $spacer / 2;
      &__item{
      line-height: 1;
      & > a{
        font-size: 16px;
        line-height: 1.5;
      }
    }
      &__item + &__item{
        margin-left: $spacer * 0;
        margin-top: $spacer / 2;
      }
    }
  }
}