<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>
    <div class="header d-flex justify-between align-center">
      <h1 class="header__logo">眼鏡官網</h1>
      <nav class="nav">
        <ul class="navList d-flex align-center">
          <li class="navList__item"><a href="#" class="navList__item__link">系列鏡框</a></li>
          <li class="navList__item"><a href="#" class="navList__item__link">門市據點</a></li>
          <li class="navList__item"><a href="#" class="navList__item__link">部落格</a></li>
          <li class="navList__item"><a href="#" class="navList__item__link">常見問題</a></li>
        </ul>
      </nav>
      <button type="button" class="hamburger btn btn__hamburger btn--primary">
        <span class="material-symbols-outlined material-symbols-outlined--hamburger">menu</span>
      </button>
    </div>
  </header>

  <%- contents %>

  <footer>
    <div class="footer">
      <div class="footer__top">
        <nav class="d-flex align-center">
          <ul class="footer__navList">
            <li class="footer__navList__item">
              <a href="#" class="footer__navList__item__link">首頁</a>
            </li>
            <li class="footer__navList__item">
              <a href="#" class="footer__navList__item__link">系列鏡框</a>
            </li>
            <li class="footer__navList__item">
              <a href="#" class="footer__navList__item__link">門市據點</a>
            </li>
            <li class="footer__navList__item">
              <a href="#" class="footer__navList__item__link">部落格</a>
            </li>
            <li class="footer__navList__item">
              <a href="#" class="footer__navList__item__link">部落格</a>
            </li>
          </ul>
        </nav>
        <ul class="socialList d-flex align-center">
          <li class="socialList__item">
            <a href="#" class="socialList__item__link">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb">
            </a>
          </li>
          <li class="socialList__item">
            <a href="#" class="socialList__item__link">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ig">
            </a>
          </li>
          <li class="socialList__item">
            <a href="#" class="socialList__item__link">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line">
            </a>
          </li>
        </ul>
        <ul class="contactList">
          <li class="contactList__item d-flex align-center">
            <span class="material-symbols-outlined">call</span>
            <a class="contactList__item__link" href="tel:0800-000-000">0800-000-000</a>
          </li>
          <li class="contactList__item d-flex align-center">
            <span class="material-symbols-outlined">mail</span>
            <a class="contactList__item__link" href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom d-flex justify-between">
        <p class="fw-regular text-white">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer__list">
          <li class="footer__list__item">
            <a href="#" class="footer__list__item__link d-block">隱私權政策</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__item__link d-block">服務條款</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
