.btn{
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
}

.btn__hamburger{
  &:checked, &:focus, &:visited{
    border-radius: 3px;
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,.7) ;
  }
}

.btn--primary{
  color: $color-font-link;
  background-color: $color-bgc-primary;
}

